* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container .row .col-6 {
    padding: 0;
}

.container .row .col-6 .box {
    h3 {
        font-size: 16px;
        margin-bottom: 12px;
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: #3b3b3b;
                font-size: 14px;
                display: inline-block;
                margin: 8px 0;
                /* background-color: red; */

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.carousel-item {
    img {
        height: 400px;
        width: 100%;
        object-fit: contain;
    }

    div {

        background-color: #f9cecec5;
        border-radius: 10px;

        h5,
        p {
            color: rgb(0, 0, 0);
        }
    }
}

@media screen and (min-width:993px) {
    .carousel-item {
        img {
            height: 590px;
            width: 100%;
            object-fit: contain;
        }

        div {

            background-color: #acacacc5;
            border-radius: 10px;

            h5,
            p {
                color: rgb(0, 0, 0);
            }
        }
    }

    .container .row .col-12 .product-detail {
        position: sticky;
        top: 100px;
    }

    .img-product {
                width: 120px;
                height: 120px;
                border: 0.5px solid #5c5c5c;
                border-radius: 6px;
                padding: 10px;
                margin-right: 10px;
            }

            .card-img-top-related {
            height: 300px !important;
        }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .container .row .col-12 .product-detail {
        position: sticky;
        top: 80px;
    }

    .container .row .col-12 div input {
        width: 100%;
    }

    .container .row .col-12 div .mb-4 {
        p {
            color:red; 

             
        }
    }

    .img-product {
                width: 120px;
                height: 120px;
                border: 0.5px solid #caffb3;
                border-radius: 6px;
                padding: 10px;
                margin-right: 10px;
            }

            .card-img-top-related {
            height: 200px !important;
        }
}

@media screen and (max-width:575px) {
    .container .row .col-12:nth-child(1) {
        /* background-color: rgb(60, 255, 0); */
        /* margin:30px 0; */
        padding: 30px 30px 0 30px;
 
    }

    .container .row .col-12:nth-child(2) {
        /* background-color: red; */
        /* margin:30px 0; */
        padding: 30px;

        h3 {
            font-size: 23px;
        }

        div input {
            width: 100%;
        }
    }

    .img-product {
                width: 100px;
                height: 100px;
                border: 0.5px solid #febcbc;
                border-radius: 6px;
                padding: 5px;
                margin-right: 10px;
            }
}